<html>
  <head>
    <title>Cost-Volume Analysis - {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
  </head>
  <body>
    <nav>
      <a href="/" class="brand"><span>Cost-Volume Analysis</span></a>

      <!-- responsive-->
      <input id="bmenub" type="checkbox" class="show">
      <label for="bmenub" class="burger pseudo button">Menu</label>

      <div class="menu">
        <a href="/refresh" class="button warning">Update Products</a>
      </div>
    </nav>

    <article class="flex two" style="padding: 3em 1em;">
      {% block content %}
      <div>
        <h2>Products</h2>

        <ul>
            {% for widget in widgets %}
            <a href="/product/{{ widget.name }}"><span class="stack">{{ widget.name }}</span></a>
            {% endfor %}
        </ul>
      </div>
      <div>
        <h2>Add Product</h2>
        <ul>
          <form action="/product" method="post">
            <input type="text" name="name" placeholder="Product Name">
            <input type="number" name="fixed_costs" placeholder="Fixed Costs">
            <input type="number" name="variable_costs" placeholder="Variable Costs">
            <input type="number" name="price_point" placeholder="Price Point">
            <input type="submit" value="Add Product">
          </form>
        </ul>
      </div>
      {% endblock %}
    </article>
  </body>
</html>
